body {
    background-color: black;    
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
}
.header {
    border-bottom: solid 1px seashell;
    height: 69px;
    display: flex;
    width: 100%;
    position:relative;
    justify-content: space-between;
    align-items: center;
    

}
.logo {
    height: 50px;
    margin-left: 10px;
    align-items: flex-start;
    
}
.top-nav {
 
 
}
.link1, .link2, .link3 {
    font-size: 22px;
    font-family: Helvetica;
    text-decoration: underline;
    color: seashell;
    margin-right: 15px;
    align-items: flex-end;
    height: 50px;
}
.section1 {
    background-image:url(../images/mission-background.jpg.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 1200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 200px;
    
}
.article1 {
    width: 1200px;
    background-color: black;

}
.section2 {
    display:inline-flex;
  width: 1000px;
  justify-content: center;
}
.article-two {

}
    
    

.img1 {
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}
.img2 {
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}
.img3 {
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}
.img4 {
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}
.img5 {
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
}